:root {
    --body-background: #2f2e2e;
    --card-background-1: #fde1b2;
    --card-background-2: #846358;
    --text-color: #f08c00;
    --height_header:11vh;
    --height_header_responsive:9vh;
    --body-background:#2D2C2C;
    --color_h1:black;
    --color_h1_border:#f80;
    --color_h1_text-shadow1:#b38b00;
    --color_h1_text-shadow2:#a07800;
    --color_h1_text-shadow3:#8c6600;
    --color_h1_losange_retour:#888;
    --color_footer:#FFE1B3;
    --police_h1:Windlass;
    --police_defaut:Arial,sans-serif;
}

a{
	color:black;
    text-decoration: none;
    &:hover {
        opacity: 0.8;
    }
}

#menu, #regle, #map {
    display: flex;
    flex-direction: column;
    gap: 2em;
    line-height: 1.6em;
    margin:5rem 0 5rem 0 ;
    width: 50vw;
    padding: 5rem;
    border: solid var(--card-background-1) 5px;
    border-radius: 20px;
    box-shadow: inset 0px 0px 35px 16px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 50px 29px rgba(0, 0, 0, 0.47);
    color: var(--card-background-1);
    font-size: 1.5em;
    font-family: "OPTICaslon-Antique";
    text-decoration: none;
    
    h2 {
        font-family: "Windlass";
        font-size: 2em;
        text-align: center;
        line-height: 2em;
    }

    h3 {
        padding-bottom: 1em;
        text-decoration: underline;
    }
    
    .vegetal {
        width: 1em;
        margin: 0;
    }
}

#regle {
    align-items: center;
    img {
        width: 20em;
        height: auto;
    }
}

.choice{
    position: relative;
    img{
        position: absolute;
    }
}
