:root {
    --body-background: #2f2e2e;
    --card-background-1: #fde1b2;
    --card-background-2: #846358;
    --text-color: #f08c00;
    --height_header:11vh;
    --height_header_responsive:9vh;
    --body-background:#2D2C2C;
    --color_h1:black;
    --color_h1_border:#f80;
    --color_h1_text-shadow1:#b38b00;
    --color_h1_text-shadow2:#a07800;
    --color_h1_text-shadow3:#8c6600;
    --color_h1_losange_retour:#888;
    --color_footer:#FFE1B3;
    --police_h1:Windlass;
    --police_defaut:Arial,sans-serif;
}

a{
	color:black;
    text-decoration: none;
    &:hover {
        opacity: 0.8;
    }
}

#menu, #regle, #map {
    display: flex;
    flex-direction: column;
    gap: 2em;
    line-height: 1.6em;
    margin:5rem 0 5rem 0 ;
    width: 75vw;
    padding: 5rem;
    border: solid var(--card-background-1) 5px;
    border-radius: 20px;
    box-shadow: inset 0px 0px 35px 16px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 50px 29px rgba(0, 0, 0, 0.47);
    color: var(--card-background-1);
    font-size: 1.5em;
    font-family: "OPTICaslon-Antique";
    text-decoration: none;
    
    h2 {
        font-family: "Windlass";
        font-size: 2em;
        text-align: center;
        line-height: 2em;
    }

    h3 {
        padding-bottom: 1em;
        text-decoration: underline;
    }
    
    .vegetal {
        width: 1em;
        margin: 0;
    }
}

#map{
    div{
        display: flex;
        justify-content: space-evenly;
    }
    img{
        max-width: 25vw;
    }
}

#regle {
    align-items: center;
    img {
        width: 20em;
        height: auto;
    }
}

main > h1 {
    
    text-shadow: 0px 0px 15px #000000, 0px 0px 20px rgb(0, 0, 0), 0px 0px 30px rgb(0, 0, 0);
}

.choice{
    position: relative;
    img{
        position: absolute;
    }
}

@media screen and (max-width: 1160px) {    
    #menu, #regle, #map {
            padding: 1rem;
            font-size: 1.2em;
        width: 90%;
        
        p {
            font-size: 1.2em;
            }
        h2 {
            font-size: 1.5;
        }
    }
    #bill {
        gap: 5vw;
    }
    #bill-main {
        h1 {
            font-size: 3em;
        } 

    }
}

@media screen and (max-width: 680px){
    #bill-main {
            h1 {
            font-size: 3em;
        }
    }
    #menu, #regle, #map {
        p, li {
            font-size: 1.2em;
            }
        h2 {
            font-size: 1.5;
        }
    } 
}